body {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100%;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-image: url(./src/img/arctic_wolf.png);
  background-size: 1700px;
}
#wrapper {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 995px;
}
#wrapper a {
  
  text-decoration: none;
  
  
}
#menu_div {
  padding: 0px;
  margin: 0px;
  width: 180px;
  height: 100%;
  background-color: rgba(79, 61, 235, 0.2);
  position: fixed;
  top: 0px;
  left: 0px;
}
#menu_div li {
  border-bottom: 1px solid grey;
  list-style-type: none;
  text-align: left;
}
#menu_div #sitename {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0px;
  padding-left: 10px;
  color: rgba(0, 97, 100, 0.8);
  border-bottom: none;
  cursor: pointer;
}
#menu_div li a {
  color: rgb(182, 21, 115);
  height: 50px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
}
#menu_div li:hover a {
  color: yellow;
}

.welcome {
  color: blue;
}

.sponsor {
  color: purple;
  font-family: segoe script;
}

.text {
  color: aqua;
}

.text a {
  text-decoration: none;
  color: aqua;
}

.text a:hover {
  color: pink;
}

.tfix {
  flex-wrap: wrap;
  text-align: justify;
}

.justify {
  padding-left: 10px;
  width: 1162px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.regis {
  color: aliceblue;
  padding-top: 30px;
  width: 1000px;
  padding-left: 20px;
  padding-bottom: 70px;
}

.cursor {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease-out;
  margin: 2px 2px 0 0;
  z-index: 1000;
}

.cursor_point {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease-out;
  margin: 2px 2px 0 0;
  z-index: 1000;
}

.cursor.active {
  animation: cursorAnim 0.3;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
  }
  50% {
    transform: scale(2);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
}

.login-lay {
  background-image: url("./src/img/306459-black-and-white-wolf-wallpaper-top-free-black-and-white-wolf.jpg");
  background-size: cover;
}

.login-center {
  color: lightseagreen;
}

.regis-lay {
  background-image: url("./src/img/Exoplanets-With-Nebulae-In-Background-2880x1620.jpg");
  background-size: 1570px;
}

#dedicate {
  width: 210px;
  background-color: rgba(147, 166, 223, 0.4);
}

.stranger {
  color: aqua;
}

.order {
  color: yellow;
  position: fixed;
  width: 1375px; 
  bottom: 0px;
}